{% extends "template_home.html" %}


{% block titulo %}
    <title>Django Wars - Senta o dedo nessa...</title>
{% endblock %}


{% block conteudo %}
    <div class="container">
        
        <div class="hero-unit">
            <h1>Django Wars</h1>
            
            <p>
                E se te disessem que você pode utilizar <a href="http://python.org/" target="_blank">Python</a> e
                <a href="https://www.djangoproject.com/" target="_blank">Django</a> para desenvolver coisas legais, como webgames, você acreditaria?
            </p>
            
            <p>
                O projeto Django-Wars surgiu do momento em que precebi que grande parte dos tutoriais de desenvolvimento
                <a href="https://www.djangoproject.com/" target="_blank">Django</a> envolviam coisas chatas como
                notícias, blogs, feeds RSS e afins.<br />
                Isso até que é útil, mas legal mesmo seria aprender a desenvolver com coisas mais interessantes.
            </p>
            
            <p>
                E assim surgiu o Django-Wars: Um conjunto de tutoriais de desenvolvimento Django para quem tem curiosidade sobre o poder da ferramenta.<br />
                Jogue um pouco do jogo para saber do que se trata (ele é bem simples) e depois leia os tutoriais.
            </p>
            
            <p>
                <u><b>Observação:</b></u><br />
                O projeto utiliza o <b>Django 1.4</b> e suas bibliotecas nativas.
            </p>
            
            <p>
                <a href="{% url pagina_de_registro %}" class="btn btn-success">Registre-se</a>
                <a href="http://blog.frenetic.com.br/category/projetos/django-wars/" class="btn btn-primary">Leia o tutorial de desenvolvimento</a>
            </p>
      </div>
        
        
    </div> <!-- /container -->
{% endblock %}