{% extends "template.html" %}


{% block titulo %}
    <title>Django Wars - Meus itens</title>
{% endblock %}


{% block conteudo %}
    <div class="container">
        Armadura Ativa: <br />
        {{ player.armadura_ativa.nome }}
        <img src="{{ player.armadura_ativa.imagem.url }}" />
        <br />
        <hr />
        
        Arma Ativa: <br />
        {{ player.arma_ativa.nome }}
        <img src="{{ player.arma_ativa.imagem.url }}" />
        <br />
        <hr />
        
        
        <p>Armaduras:</p>
        {% for armadura in player.armaduras.all %}
            <img src="{{ armadura.imagem.url }}" />
            {{ armadura.nome }}
            <a href="equipar/armadura/{{ armadura.pk }}">Equipar</a>
            <br />
        {% endfor %}
        
        <hr />
        
        <p>Armas:</p>
        {% for arma in player.armas.all %}
            <img src="{{ arma.imagem.url }}" />
            {{ arma.nome }}
            <a href="equipar/arma/{{ arma.pk }}">Equipar</a>
            <br />
        {% endfor %}
        
    </div> <!-- /container -->
{% endblock %}