{% extends "template.html" %}


{% block titulo %}
    <title>Django Wars - Loja</title>
{% endblock %}


{% block conteudo %}
    <div class="container">
        <p>Armaduras:</p>
        {% for armadura in armaduras %}
            <img src="{{ armadura.imagem.url }}" />
            {{ armadura.nome }}

            {% if armadura in player.armaduras.all %}
                <a href="vender/armadura/{{ armadura.pk }}">vender por {{ armadura.venda }}</a>
            {% else %}
                <a href="comprar/armadura/{{ armadura.pk }}">comprar por {{ armadura.compra }}</a>
            {% endif %}
            <br />

        {%  endfor %}

        <hr />

        <p>Armas:</p>
        {% for arma in armas %}
            <img src="{{ arma.imagem.url }}" />
            {{ arma.nome }}

            {% if arma in player.armas.all %}
                <a href="vender/arma/{{ arma.pk }}">vender por {{ arma.venda }}</a>
            {% else %}
                <a href="comprar/arma/{{ arma.pk }}">comprar por {{ arma.compra }}</a>
            {% endif %}
            <br />
        {%  endfor %}

    </div> <!-- /container -->
{% endblock %}