{% extends "template.html" %}


{% block titulo %}
    <title>Django Wars - Stats</title>
{% endblock %}


{% block conteudo %}
    <div class="container">

        <!--lista de crimes que podem ser cometidos-->
        <h3>Stats</h3>
        
        <p>Ataque: {{ player.ataque }} {% if player.pontos > 0 %}<a href="adicionar/ataque" class="btn btn-info btn-mini">+1</a>{% endif %}</p>
        <p>Defesa: {{ player.defesa }} {% if player.pontos > 0 %}<a href="adicionar/defesa" class="btn btn-info btn-mini">+1</a>{% endif %}</p>
        <p>Vida: {{ vida }} {% if player.pontos > 0 %}<a href="adicionar/vida" class="btn btn-info btn-mini">+1</a>{% endif %}</p>
        <p>Energia: {{ player.energia }} {% if player.pontos > 0 %}<a href="adicionar/energia" class="btn btn-info btn-mini">+1</a>{% endif %}</p>
        <p>Raiva: {{ player.raiva }} {% if player.pontos > 0 %}<a href="adicionar/raiva" class="btn btn-info btn-mini">+1</a>{% endif %}</p>
        <p>Pontos para gastar: {{ player.pontos }}</p>
        
    </div> <!-- /container -->
{% endblock %}